.box {
  flex-grow: 1;
  margin: 0 auto;
  padding: 24px;
}

.title {
  font-weight: 700;
  color: #4e4f50;
}

.cardIcon {
  fill: #fff;
  border-radius: 100%;
  padding: 4px;
  margin-right: 20px;
  box-shadow: 2px 5px 9px -3px #000000a6;
}

.addIcon {
  background-color: #5c8c38;
}

.removeIcon {
  background-color: #e42629;
}

.arrowsIcon {
  background-color: #ef7f38;
}

.moneyIcon {
  background-color: #0c7ec2;
}
