.form {
  width: 100%;
}

.box {
  flex-grow: 1;
  padding: 24px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  color: #4e4f50;
}

.paper {
  padding: 24px;
  margin-top: 24px;
}

.registerButton {
  margin-top: 24px;
}
